{{ ansible_managed | comment }}
{% if caddy_global_options|length > 0 %}
{
{% for item in caddy_global_options %}
	{{ item }}
{% endfor %}
}
{% endif %}

import {{ caddy_sites_enabled_directory | basename }}/*.conf

# Refer to the Caddy docs for more information:
# https://caddyserver.com/docs/caddyfile
