---
- name: Install required packages (fail2ban, podman, caddy)
  become: true
  ansible.builtin.package:
    name: "{{ base_packages }}"
    state: present
- name: "Create user for keycloak: {{ base_username }}"
  become: true
  ansible.builtin.user:
    name: "{{ base_username }}"
    create_home: true
    uid_min: "{{ base_uid_min }}"
    uid_max: "{{ base_uid_max }}"
  register: base_userinfo
- name: "Enable lingering for user {{ base_username }}"
  ansible.builtin.command: "loginctl enable-linger {{ base_userinfo.uid }}"
  args:
    creates: "/var/lib/systemd/linger/{{ base_username }}"
  become: true
  notify: "Reload systemd user daemon"
